<h4>Add Comment</h4>
<%=form_for [@post, @post.comments.new] do |f| %>
<div class="form-group">
  <% f.label :text %>
  <%= f.text_area :text, :class => 'form-control', :autofocus => true %>
</div>

  <%= f.submit :class => 'btn btn-primary' %>

<%end%>
