<h2>Edit User</h2>

<% if @user.errors.any? %>
  <ol>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
  </ol>
<% end %>

<%= render :partial => 'form' %>

<%= button_to "Delete user", user_delete_path(@user.id), :method => "post", :data => { :confirm => "Are you sure?" }, :class => 'btn btn-danger' %>
