<h2>Users Index</h2>
<% @users.each do |user| %>
<p><a class="avathumb"><%= cl_image_tag(user.avatar) if user.avatar.present? %><a> <%= user.name %> - <%= user.email %></p>

  <%= button_to "Delete user", user_delete_path(user.id), :method => "post", :data => { :confirm => "Are you sure?" }, :class => 'btn btn-danger' %>
<% end %>
