<h1>ImSoVain</h1>

<% if @current_user.present? %>
  <%= cl_image_tag(@current_user.avatar) if @current_user.avatar.present? %><br>
  <strong><%= link_to "#{ @current_user.name}", user_posts_path(@current_user) %></strong>
  <% if @current_user.admin? %>
    <p>I'm so vain... this blog is all about me and my interests... vomit.</p>
  <% end %>
  <% unless @current_user.admin? %>
  <p>Welcome friendly user! You're in the right place to be writing all about yourself and your interests.</p>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><h6 class="tawt">U vain tw@t</h6>
<% end %>

<% unless @current_user.present? %>
  <span>Please either <%= link_to "sign in", login_path %> or <%= link_to "sign up", new_user_path %>.</span>
<% end %>
<% end %>
