// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  max-width: 960px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 64px;
}

body.pages.home {
  background-color: lightblue;
}

body.session {
  background-color: blue;
  background-size: cover;
  background-position: center;
}

.footer-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 3px;
  max-height: 64px;
  width: 100%;
  background-color: #F5F5F5;
}

span.footbar {
  display:inline-block;
  border: none;
  margin-left: 8%;
}

img.inline {
  display: inline-block;
  border-radius: 6px;
  width: 32px;
  height: 32px;
}

img.inline:hover {
  box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  cursor: alias;
}
